/*
 * Color 1: #fbfcfb (White)
 * Color 2: #233127 (Dark green)
 * Color 3: #394F3F (Light green)
 */

body {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    */

    margin: 0;

    font-family: 'Open Sans', sans-serif;
}

a {
    color: #fbfcfb;
    text-decoration: none;
}

/* Top material */
.header {
    display: flex;
    background-color: #233127; 
    align-items: center;
    justify-content: space-between;

    padding: 16px;
}

.header h1 {
    font-family: Pangolin, cursive;
    color: #fbfcfb;

    margin: 0 16px;
}

.header ul {
    display: flex;
    list-style: none;

    padding: 0 16px;
    margin: 0;
    gap: 16px;
}


.showcase {
    display: flex;
    background: #233127;
    color: #fbfcfb;
}


/* Middle material */
.information h2 {
    font-weight: 900;
    text-align: center;
}

.card-container {
    display: flex;
}

.card img {
    width: 200px;
    height: 200px;
}
