/*
 * Color 1: #fbfcfb (White)
 * Color 2: #233127 (Dark green)
 * Color 3: #394F3F (Light green)
 */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fbfcfb;
}

a {
    color: #fbfcfb;
    text-decoration: none;
}

/* Top material */
.header {
    display: flex;
    background-color: #233127; 
    align-items: center;
    justify-content: space-between;

    padding: 16px;
}

.header h1 {
    font-family: Pangolin, cursive;
    color: #fbfcfb;

    margin: 0 16px;
}

.header ul {
    display: flex;
    list-style: none;

    padding: 0 16px;
    margin: 0;
    gap: 16px;
}


.showcase {
    display: flex;
    background: #233127;
    color: #fbfcfb;
}

.information {
    display: flex;
    flex-direction: column;

    padding: 32px;
    padding-bottom: 64px;

}

/* Middle material */
.information h2 {
    font-weight: 900;
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    gap: 64px;

    flex-wrap: wrap;
}

.card img {
    width: 200px;
    height: 200px;

    border-style: solid;
    border-width: 3px;
    border-radius: 16px;
    border-color: #394F3F;
}

.card p {
    text-align: center;
    max-width: 200px;
}


.quote {
    font-weight: 300;
    font-style: italic;
    font-size: 32px;

    padding: 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #B5C9BB;
}

.quote p {
    max-width: 800px;
}

#attribution {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
}

/* Bottom stuff */
.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 96px;
}

.call-to-action {
    display: flex;
    color: #fbfcfb;
    background-color: #dbaa24;

    justify-content: center;
    align-items: center;

    padding: 32px 64px;
    border-radius: 12px;

}

.call-to-action h2 {
    padding: 0;
    margin: 0;
    font-weight: 900;
}

.call-to-action a {
    border-style: solid;
    border-width: 2px;
    border-color: #fbfcfb;
    border-radius: 8px;
    padding: 4px 32px;

    font-weight: bold;
}

.footer {
    color: #fbfcfb;
    background-color: #222222;
    padding: 16px;
    text-align: center;
}

